.App {
  text-align: center;
}
.form-signup{
  text-align: center;
  max-width: 500px;
  height: 100px;
}
.form-signup{
  margin-left: 500px;
  margin-top: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.contented{
  width: 100%;
  height: 100%;
}