* {
    box-sizing: border-box;
  }
  #root{
    width: 100%;
    height:  100%;
  }
  .title{
    text-align: center;
    color: rgb(3, 3, 3);
    font-size: 40px;
    vertical-align: middle;
    line-height: 50px;
    
  }
  html,body {
    background-color: #edeff2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Calibri", "Roboto", sans-serif;
    
  }
  .app__content {
    width: 75%;
    height:  75%;
    margin: 50px auto;
    border: 1px solid #b1b1b1;
    background-color: rgb(46, 241, 121);
  } 
  .head{
    width: 100%;
    height: 10%;
    background-color: #1e92f1;
    margin: 0;
  }
  
  .chat_window {
    width: 100%;
    height: 100%;
    background-color: rgb(252, 252, 252);
    overflow: hidden;
  }

  .chat_user{
    width:100%;
    height: 100%;
    overflow: hidden;
    overflow:scroll;
    background-color: #ffffff;
   
  }

  .avatar_user_name{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
    background-color: #5facca;
  }
  .user_name{
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 5px;
  }

  .chat_emoji{
    position: absolute;
    width: calc(100% - 20px);
    max-width: 350px;
    height: 300px;
    background-color: rgb(252, 252, 252);
    border: 1px solid #bebebe;
    left: 80%;
    top: 45%;
    text-align: left;
    border-radius: 2px;
    transform: translateX(-50%) translateY(-50%);     
    overflow: hidden;
    overflow: scroll;
  }
  .icon_emoji{
    margin-left: 0px;
    /* writing-mode: vertical-lr; */
  
  }
  .messages {
    list-style: none;
    padding: 20px 10px 0 10px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }
   .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.5s linear;
    opacity: 0;
  }
   .message.left .avatar {
    background-color: #f53708;
    float: left;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
  }
   .message.left .text_wrapper {
    background-color: #e7e7e7;
    margin-left: 20px;
    float: left;
    border-radius: 15px;
    
  }
   .message.left .text_wrapper::after,  .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #b3afab;
  }
   .message.left .text {
    color: hsl(0, 0%, 0%);
    overflow: hidden;
    
  }
   .message.right .avatar {
    background-color: #fa9201;
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    color: rgb(252, 252, 252);
  }
  .message.right .text_wrapper {
    background-color: #2a6deb;
    margin-right: 20px;
    float: right;
    border-radius: 15px;
    
  }
   .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #3873f5;
  }
   .message.right .text {
    color: #ffffff;
    overflow: hidden;
  }
   .message.appeared {
    opacity: 1;
  }
  .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
  }
   .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    text-overflow: ellipsis;
    width: 400px;
    position: relative;
  }
  
  .userName.left .name_user{
    float: left;
  }
   .userName.right .name_user{
    float: right;
    
  }
   .message .text_wrapper::after,s .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
  }
 .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0px;
  }
   .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
  }
  .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
    text-overflow: ellipsis;
  }
  
  .bottom_wrapper {
    width: 100%;
    height: 25%;
    background-color: rgba(241, 241, 241, 0.959);
    padding: 20px 20px;
    overflow: hidden;
    
  }
  .bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 50px;
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #888888;
    width: calc(100% - 140px);
    position: relative;
    padding: 0 20px;
    overflow: hidden;
  }
  .bottom_wrapper .message_input_wrapper .message_input {
    border: none;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 80px );
    position: absolute;
    background-color: rgb(255, 255, 255);
    color:#000000;
  }
   .bottom_wrapper .sc-user-input--button {
    width: 30px;
    height: 30px;
    display: inline;
    position: absolute;
    margin: 5px;
  }
  .bottom_wrapper .send_message {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background-color: #37e931;
    border: 2px solid #a3d063;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    float: right;
  }
  .bottom_wrapper .send_message:hover {
    color: #a3d063;
    background-color: #fff;
  }
  .bottom_wrapper .send_message .text {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 48px;
  }
  
  .message_template {
    display: none;
  }
  .user_emoji_wrapper{
    background-color: rgb(227, 231, 227);
  }
  .emoji-icon-wrapper {
    text-align: right;
    margin-right: 20px;
    border-right-color: #070707;
  }
  .row{
    height: 90%;
    overflow: hidden;
  }
  .col-sm-8{
    height: 100%;
    padding: 0px;
    padding-right: 15px;
  }
  .col-sm-4{
    height: 100%;
    padding: 0px;
    padding-left: 15px;
  }

