<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <style th:href="@{/app.css}"></style>
    <title>Title</title>
</head>
<body>
<h4 id="usernameBar" th:text="${username}"></h4>
<div style="text-align: center;">
    <div style="width:60%; text-align: center; border: 2px solid black; height: 300px; overflow: scroll;">
        <ul id="chatText" class="listmessage">

        </ul>
    </div>
</div>
<br><br>

<input type="text" id="message">
<input type="button" value="Send message" onclick="sendMessage()">

<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:inline="javascript" th:src="@{/sockJS.js}"></script>
</body>
</html>