<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" th:href="@{/app.css}">
    <link rel="stylesheet"
          href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <title>Create new account</title>
</head>
<body>

<div class="pure-form" id="userForm">
    <fieldset class="pure-group">
        <h1>Fill in your information</h1>

        <form action="#" th:object="${user}" th:action="@{/signup}"
              method="POST">
            <p th:text="${err}"></p>
            <input id="username" th:field="*{username}" type="text"
                   placeholder="Username"
                   class="pure-input-1-2">
            <input id="password" th:field="*{password}" type="password"
                   placeholder="Password"
                   class="pure-input-1-2">
            <input type="submit" value="Sign up">
        </form>
    </fieldset>
</div>
</body>
</html>